/* Just like how you can turn things into comments in html, you can also do it in css! */
/* This way, if you want to try doing something, but do not what to get rid of what you have previously done, you can turn it into comments */
/* For css, you do not need to put any headers or anything like that */
/* To create a new command, you do .nameofcommand */
/* After that, you put the curly brackets {} */
/* Css is where you can create animations */
/* You can apply a css command to pretty much anything! */
/* Make sure you tab the intsestines of the command, but not the name or end curly bracket */
/* Always put a ; (semi-colon) at the end of each line (of the intestines) */
/* You can go into the styles.css page to see what certain things do */
/* Another way to figure out what does what is by going into any page and doing comand 'c' */
/* This shows you the code of that page */
/* Another simple way to figure things out on your own is by typing in w3school followed by your question in the search bar (of google, not the website) */
.the_naked_mole_rat_association_of_change_in_color {
  background-color:rgb(80,13,9);
  width: 90px;
  height:90px;
  content-align: center;
  border: double;
}
