.jelly {
    background-color: rgb(204, 208, 211);
    background-image: url(./New\ Jelly.png);
    background-size: cover;
    height: 600px;
}
body {
    margin:0;
    background-color:rgb(50, 76, 128);
}
.style1 {
    background-color:rgb(50, 76, 128);
    text-align: center;
    width:40%;
    margin-left: 29%;
    height:100px; 
    align-content: center;
    font-size: 4em; 
    color:rgb(50, 76, 128);
    border-radius: 20%;
    overflow: hidden;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    font-weight: bold;
    font-family: copperplate;
    opacity:1;
    text-shadow: 2px 2px 2px rgb(240, 234, 234);
}
.hiddenbox {
    background-color:rgb(50, 76, 128);
    text-align: center;
    height:16px; 
    align-content: center;
    font-size: 2em; 
    overflow: hidden;
}

.menuContainer {
    background-color: white;
    text-align: center;
    text-align: -webkit-center;
    border-radius: 3%;
}
.menu {
    /* background-color:rgb(252, 252, 252); */
    text-align: center;
    /* height:30px; 
    align-content: center; */
    font-size: 2em; 
    color:rgb(252, 252, 252);
    overflow: hidden;
    font-weight: bold;
    font-family: Optima;
    width: fit-content;
}
.menu a {
    text-decoration: none;
    color: rgb(50, 76, 128);
    align-content: center;
}
.button{
    text-decoration: none;
    color: rgb(252, 252, 252);
}
/* .button .off{
    text-decoration: none;
    color:rgb(50, 76, 128);
} */
.search{
    align-content: center;
    align-items: center;
    vertical-align:super;
    height:2em;
    margin-top:3px;
    text-decoration: none;
    color: rgb(50, 76, 128);
    background-color:rgb(252, 252, 252);
    border-color:rgb(252, 252, 252);
    outline-color: rgb(50,76,128);
    color-scheme: rgb(189, 187, 187);
    border-width: 3px;
    text-decoration: solid;
    text-decoration:double;
    width:800px
}
/* 
ul {

}

li {
    text-decoration: none;
    
} */
.graph_style{
    background-color:rgb(204, 208, 211);
}
.placeholderbox {
    background-color:rgb(252,252,252);
    text-align: center;
    height: 560px; 
    align-content: center;
    font-size: 2em; 
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}
/* .buoy_listbackground{
    background-color: rgb(108, 131, 108);
} */
.button2{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.BrightBuoy{
    text-decoration: none;
    color: (50, 76, 128);
    text-shadow: (181, 185, 196);
}
.hiddentext{
    text-decoration: none;
    color: (252, 252, 252);
}
.title_page_box{
    background-color:rgb(50, 76, 128);
    margin-left: 30%;
    margin-right: 20%;
    margin-top:20%;
    margin-bottom: 40%;
}
/* The following code does not do anything at this moment. It is meant as a way to create a differemt type of navigation bar, however will not work. */
/* .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } */
   .navoptions{
    background-color: rgba(0,0,0, 0.9);
    text-decoration: none;
    color: (252, 252, 252);
    font-family:optima
   }
   .body2{
    background-color: black(0,0,0,0.9);
   }

.bigMenu {
    position: fixed;
    width:15%;
/*     height:auto;
    z-index:10; */
    background-color:rgba(0, 0, 0, 0.75);
    color:white;
    display: none;
    text-align: center;
    font-size:200%;
    /* top: 23px; */
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: justify;
}

.bigMenu.on {
    display:block;
}

.bigMenu a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.bigMenu li {
    margin-top: 10px;
}

.bigMenu li:hover {
    background-color: black;
}
.eventualimage {
    background-color: white;
    width: 25px;
    height: 25px;
    margin-left: 25px;
    margin-top: 70px;
}
.eventualbuoy {
    background-color:rgb(252,252,252);
    text-align: center;
    width:20%;
    margin-left: 29%;
    height:100px; 
    align-content: center;
    font-size: 4em; 
    color:rgb(50, 76, 128);
    border-radius: 20%;
}
.words {
    color: rgb(252,252,252);
}
.styleindex{
    background-color:rgb(50, 76, 128);
    text-align: center;
    width:40%;
    margin-left: 29%;
    height:100px; 
    align-content: center;
    font-size: 4em; 
    color:rgb(50, 76, 128);
    border-radius: 20%;
    overflow: hidden;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    font-weight: bold;
    font-family: copperplate;
    opacity:1;
    text-shadow: 2px 2px 2px rgb(240, 234, 234);
    margin-top: 5%;
}
@keyframes slideInLeft {
    from{
        transform: translateX(-300px)
    }

    to{
        transform: translateX(0)
    }
}
@keyframes slideOutRight {
    from{
        transform: translateX(0)
    }
    
    to{
        transform: translateX(3000px)
    }
}
/* .styleindex {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
} */
/* .styleindex {
    animation-name: slideOutRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
} */
.body2 {
  overflow: hidden;
  display:flex;
  animation: disapear 6s
}

div.drop-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 300px;
  width: 300px;
  /* z-index:99; */
}


div.drop {
  position: absolute;
  top: -25%;
  width: 400px;
  height: 400px;
  border-radius: 100% 5% 100% 100%;
  transform: rotate(-45deg);
  margin: -18%;
  background: rgb(227, 247, 255);
  animation: drip 4s forwards;
  /* z-index: 99; */
  align-content: center;
}

h1.title {
  /* color: white; */
  color:rgb(50,76,128);
  /* animation-name: fadeIt2; */
  animation-delay: 6s;
  position: absolute;
  font-size: 4em;
  height: 3em;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2;
  margin: auto;
  margin-bottom: 11%;
  text-align: center;
  /* opacity: 100%; */
  /* animation: appear 2s 2.5s forwards; */
  font-family:copperplate;
  /* text-shadow: 2px 2px 2px rgb(64, 86, 99); */
  z-index:100;
}

@keyframes fadeText {
  0%   { color: rgb(50,76,128); }
  100% { color: rgb(227, 247, 255); display: none; }
}

h1.title.textFade{       
  animation-name: fadeText;
  animation-delay: 4s;    
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;                
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.drop-container:before,
div.drop-container:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 55%;
  right: 50%;
  transform: translate(50%) rotateX(75deg);
  border-radius: 100%;
  opacity: 0;
  width: 75%;
  height: 75%;
  border: 5px solid skyblue;
  animation: dripple 4s ease-out 2s;
  margin-top: 40%;
}

div.drop-container:after {
  animation: dripple 2s ease-out 1.7s;
}

@keyframes drip {
  45% {
    top: 0;
    border-radius: 100% 5% 100% 100%;
    transform: rotate(-45deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
    border-radius: 100%;
   from {
    opacity: 100%;
   }
   to {
    opacity: 0%;
   }
  }
}

@keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}
*{
    box-size:border-box;
    margin:0;
    padding:0;
    font-family:copperplate
}
body {
	background: rgb(50,76,128);
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
.content h2 {
	color: rgb(252,252,252);
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}
.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #8338ec;
}
.content h2:nth-child(2) {
	color: #c19bf5;
	animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}
	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
@keyframes fill {
    from {
        background-color: (50,76,128);
	
    }
    to {
        background-color: (252,252,252);
    }
}
/* .watah:after{
    height: 100%;
    width:100%;
    position:absolute;
    animation: fill ease-in-out 7s;
    background-color:rgb(252,252,252);
} */
/* .watahbox{
    height: 580px;
    width:100%;
    border-width: 5px;
    border-color:rgb(50,76,128);
    z-index:100;
    border-top:8px;
    border-bottom:8px;
    border-left:8px;
    border-right:8px;
    border-style:double;
} */
.watahbox2{
    height: 728px;
    width:100%;
    /* background-color:rgb(252,252,252); */
    /* border-radius: 50%; */
    z-index:80;
    border-top:8px;
    border-bottom:8px;
    border-left:8px;
    border-right:8px;
    /* animation-name: disapear;
    background-color: (50,76,128);
    animation: fill ease-in-out 7s;
    animation-delay: 4s; */
    overflow:hidden;
    /* border-style: double;
    border-color:rgb(50,76,128);
    border-width:8px; */
}
@keyframes disapear {
    100%{background-color:(50,76,128)}
    90%{background-color:(50,76,128)}
    80%{background-color:(50,76,128)}
    70%{background-color:(50,76,128)}
    60%{background-color:(50,76,128)}
    50%{background-color:(50,76,128)}
    40%{background-color:(50,76,128)}
    50%{background-color:(227, 247, 255)}
    60%{background-color:(227, 247, 255)}
    70%{background-color:(227, 247, 255)}
    80%{background-color:(227, 247, 255)}
    90%{background-color:(252,252,252)}
    100%{background-color:(227, 247, 255)}
}

@keyframes fadeBackground {
  0%   { background-color: transparent; }
  100% { background-color: rgb(227, 247, 255); }
  /* 100% { background-image:url(./New\ Jelly.png); } */
}
 
.backgroundFade{       
  animation-name: fadeBackground;
  animation-delay: 4s;    
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;                
  /* animation: 10s fadeIt 3s ease-in-out forwards;  */
}


.loader{
	position: absolute;
	margin-top: 50%;
	margin-left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.loader h1{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 10em;
	color: rgba(255,255,255,.1);
	background-color:rgb(252,252,252);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation: animate 15s linear infinite;

}

@keyframes animate{
	0%{
		background-position: left 0px top 80px;
	}
	40%{
		background-position: left 800px top -50px;
	}
	80%{
		background-position: left 1800px top -50px;
	}
	100%{
		background-position: left 2400px top 80px;
	}
}

ul.main-menu {
  /* background-color: red; */
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: 0;
  text-align: center;
  vertical-align: middle;

  height: auto;
  z-index: 1;

  display:none;
  flex-direction: column;
  gap: 20px;

  font-size:25px;
  font-family: Coperplate;

  font-weight: bold;
  color:(50,76,128);
}
ul.main-menu.on {
  display:flex;
  color:(50,76,128);
}
ul.main-menu li {
  list-style: none;
  color:(50,76,128);
}
ul.main-menu li a {
  text-decoration: none;
  color:(50,76,128);
}
