.jelly {
    background-color: rgb(204, 208, 211);
    background-image: url(./New\ Jelly.png);
    background-size: cover;
    height: 600px;
}
body {
    margin:0;
    background-color:rgb(50, 76, 128);
}
.style1 {
    background-color:rgb(50, 76, 128);
    text-align: center;
    width:40%;
    margin-left: 29%;
    height:100px; 
    align-content: center;
    font-size: 4em; 
    color:rgb(50, 76, 128);
    border-radius: 20%;
    overflow: hidden;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    font-weight: bold;
    font-family: copperplate;
    opacity:1;
    text-shadow: 2px 2px 2px rgb(240, 234, 234);
}
.hiddenbox {
    background-color:rgb(50, 76, 128);
    text-align: center;
    height:16px; 
    align-content: center;
    font-size: 2em; 
    overflow: hidden;
}

.menuContainer {
    background-color: white;
    text-align: center;
    text-align: -webkit-center;
    border-radius: 3%;
}
.menu {
    /* background-color:rgb(252, 252, 252); */
    text-align: center;
    /* height:30px; 
    align-content: center; */
    font-size: 2em; 
    color:rgb(252, 252, 252);
    overflow: hidden;
    font-weight: bold;
    font-family: Optima;
    width: fit-content;
    display: flex;
}
.menu a {
    text-decoration: none;
    color: rgb(50, 76, 128);
    align-content: center;
}
.button{
    text-decoration: none;
    color: rgb(252, 252, 252);
}
.search{
    align-content: center;
    align-items: center;
    vertical-align:super;
    height:2em;
    margin-top:3px;
    text-decoration: none;
    color: rgb(50, 76, 128);
    background-color:rgb(252, 252, 252);
    border-color:rgb(252, 252, 252);
    outline-color: rgb(50,76,128);
    color-scheme: rgb(189, 187, 187);
    border-width: 3px;
    text-decoration: solid;
    text-decoration:double;
}
/* 
ul {

}

li {
    text-decoration: none;
    
} */
.graph_style{
    background-color:rgb(204, 208, 211);
}
.placeholderbox {
    background-color:rgb(252,252,252);
    text-align: center;
    height: 560px; 
    align-content: center;
    font-size: 2em; 
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}
/* .buoy_listbackground{
    background-color: rgb(108, 131, 108);
} */
.button2{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.BrightBuoy{
    text-decoration: none;
    color: (50, 76, 128);
    text-shadow: (181, 185, 196);
}
.hiddentext{
    text-decoration: none;
    color: (252, 252, 252);
}
.title_page_box{
    background-color:rgb(50, 76, 128);
    margin-left: 30%;
    margin-right: 20%;
    margin-top:20%;
    margin-bottom: 40%;
}
/* The following code does not do anything at this moment. It is meant as a way to create a differemt type of navigation bar, however will not work. */
/* .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } */
   .navoptions{
    background-color: rgba(0,0,0, 0.9);
    text-decoration: none;
    color: (252, 252, 252);
    font-family:optima
   }
   .body2{
    background-color: black(0,0,0,0.9);
   }