.jelly {
    background-color: rgb(204, 208, 211);
    background-image: url(./New\ Jelly.png);
    background-size: cover;
    height: 600px;
}
body {
    margin:0;
    background-color:rgb(204, 208, 211);
}
.style1 {
    background-color:rgb(171, 201, 167);
    text-align: center;
    width:40%;
    margin-left: 29%;
    height:100px; 
    align-content: center;
    font-size: 4em; 
    color:rgb(252, 245, 151);
    border-radius: 20%;
    overflow: hidden;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    opacity:1;
}
.hiddenbox {
    background-color:rgb(204, 208, 211);
    text-align: center;
    height:8px; 
    align-content: center;
    font-size: 2em; 
    overflow: hidden;
}
.style2 {
    background-color:rgb(171, 201, 167);
    text-align: center;
    height:40px; 
    align-content: center;
    font-size: 2em; 
    color:rgb(252, 245, 151);
    /* border-radius: 30%; */
    /* border-radius: 8%; */
    overflow: hidden;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity:1;
}
.button{
    text-decoration: none;
    color: rgb(252,245,151);
    /* margin-bottom:40px; (doesn't do anything) */
}
.search{
    align-content: center;
    align-items: center;
    vertical-align:super;
    height:2em;
    margin-top:3px;
    text-decoration: none;
    color: rgb(252,245,151);
    background-color:rgb(137, 161, 137);
    border-color:rgb(252,245,151);
    outline-color: rgb(252,245,151);
    color-scheme: rgb(252,245,151);
    border-width: 3px;
    
}
/* 
ul {

}

li {
    text-decoration: none;
    
} */
.graph_style{
    background-color:rgb(204, 208, 211);
}
.placeholderbox {
    background-color:rgb(252,245,151);
    text-align: center;
    height: 560px; 
    align-content: center;
    font-size: 2em; 
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}
/* .buoy_listbackground{
    background-color: rgb(108, 131, 108);
} */
.button2{
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* margin-bottom:40px; (doesn't do anything) */
}
